<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:include="fragments/navigation :: navigation"></div>
<div class="container content">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Адрес</th>
                <th scope="col">Тип</th>
                <th scope="col">Статьи</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="accident: ${accidents}">
                <td>
                    <a th:href="@{|/formUpdateAccident?id=${accident.id}|}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td><a th:text="${accident.id}"
                       style="display: block; text-decoration: none; color: inherit;"
                       th:href="@{|/formUpdateAccident?id=${accident.id}|}"/></td>
                <td><a th:text="${accident.name}"
                       style="display: block; text-decoration: none; color: inherit;"
                       th:href="@{|/formUpdateAccident?id=${accident.id}|}"/></td>
                <td><a th:text="${accident.text}"
                       style="display: block; text-decoration: none; color: inherit;"
                       th:href="@{|/formUpdateAccident?id=${accident.id}|}"/></td>
                <td><a th:text="${accident.address}"
                       style="display: block; text-decoration: none; color: inherit;"
                       th:href="@{|/formUpdateAccident?id=${accident.id}|}"/></td>
                <td><a th:text="${accident.type.name}"
                       style="display: block; text-decoration: none; color: inherit;"
                       th:href="@{|/formUpdateAccident?id=${accident.id}|}"/></td>
                <td><a th:each="rule : ${accident.rules}"
                       style="display: block; text-decoration: none; color: inherit;"
                       th:href="@{|/formUpdateAccident?id=${accident.id}|}"><span th:text="${rule.name} + ', '"></span><br/></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>